body {
    height: 100vh;
    background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, rgba(4, 189, 228, 1) 0%, rgba(2, 83, 185, 1) 100.2%);
}

.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.container {
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    height: 60vh;
}

.message {
    background-color: rgb(249, 234, 234);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

.user-joined {
    display: flex;
    flex-direction: row;
    clear: both;
    color: aliceblue;
}

.user-joined:before,
.user-joined:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.user-joined:before {
    margin-right: 10px
}

.user-joined:after {
    margin-left: 10px
}

#send-container {
    text-align: center;
    max-width: 950px;
    width: 100%;
    display: block;
    margin: auto;
}

#messageInp {
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}